<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore</title>
</head>
<body>
    <h1>Book Listing</h1>
    <p>Here's all the books added to the database.</p>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publication Year</th>
                <th>ISBN</th>
                <th>Price</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.publicationYear}"></td>
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.price}"></td>
                <td>
                    <form th:action="@{/delete/{id}(id=${book.id})}" method="post" style="display:inline;">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
                <td>
                    <form th:action="@{/editbook/{id}(id=${book.id})}" method="get" style="display:inline;">
                        <input type="submit" value="Edit" />
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/addbook">Add a new book here</a>
</body>
</html>